.Titulo {
    font-size: 30px;
}

.titulotexto {
    font-size: 40px;
}
.texto {
    font-size: 25px;
}

.Links {
    font-size: 30px;
}

.textinho {
    font-size: 30px;
}

.link {
    font-size: 25x;
    color: red;
}